In [11]:
import pandas as pd
import numpy as np
import Data_Manager as db

TypeError: 'NoneType' object is not subscriptable

In [127]:
bl = pd.read_csv('result/bundesliga.csv') #TODO sql request oder eigene Funktion db --> csv

In [128]:
bl.head(5)

,game_id,team1,tore_heim,tore_aus,team2,date
0,1,Hertha BSC,1,1,1. FC Nürnberg,"Samstag, 24.08.1963"
1,2,Werder Bremen,3,2,Borussia Dortmund,"Samstag, 24.08.1963"
2,3,Eintracht Frankfurt,1,1,1. FC Kaiserslautern,"Samstag, 24.08.1963"
3,4,Karlsruher SC,1,4,Meidericher SV,"Samstag, 24.08.1963"
4,5,1860 München,1,1,Eintr. Braunschweig,"Samstag, 24.08.1963"

In [129]:
# TODO bei ergebnissen höher 9 wird tore aus falsch ausgelesen mit ':' , nur einmal unten ausführen !!

In [135]:
clear_bl = pd.DataFrame(bl[bl['tore_aus'] != ':'])

,game_id,team1,tore_heim,tore_aus,team2,date
0,1,Hertha BSC,1,1,1. FC Nürnberg,"Samstag, 24.08.1963"
1,2,Werder Bremen,3,2,Borussia Dortmund,"Samstag, 24.08.1963"
2,3,Eintracht Frankfurt,1,1,1. FC Kaiserslautern,"Samstag, 24.08.1963"
3,4,Karlsruher SC,1,4,Meidericher SV,"Samstag, 24.08.1963"
4,5,1860 München,1,1,Eintr. Braunschweig,"Samstag, 24.08.1963"

In [137]:
clear_bl['label'] = clear_bl['tore_heim'] - [int(x) for x in clear_bl['tore_aus']]  
# TODO int() nicht nötig wenn spalte nicht als str !!
clear_bl.head()

,game_id,team1,tore_heim,tore_aus,team2,date,label
0,1,Hertha BSC,1,1,1. FC Nürnberg,"Samstag, 24.08.1963",0
1,2,Werder Bremen,3,2,Borussia Dortmund,"Samstag, 24.08.1963",1
2,3,Eintracht Frankfurt,1,1,1. FC Kaiserslautern,"Samstag, 24.08.1963",0
3,4,Karlsruher SC,1,4,Meidericher SV,"Samstag, 24.08.1963",-3
4,5,1860 München,1,1,Eintr. Braunschweig,"Samstag, 24.08.1963",0

In [138]:
df = clear_bl[['team1', 'team2', 'label']]

In [140]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16766 entries, 0 to 16771
Data columns (total 3 columns):
team1    16766 non-null object
team2    16766 non-null object
label    16766 non-null int64
dtypes: int64(1), object(2)
memory usage: 523.9+ KB

                 team1                 team2  label
0           Hertha BSC        1. FC Nürnberg      0
1        Werder Bremen     Borussia Dortmund      1
2  Eintracht Frankfurt  1. FC Kaiserslautern      0
3        Karlsruher SC        Meidericher SV     -3
4         1860 München   Eintr. Braunschweig      0

In [145]:
team1_group = df.groupby('team1')
team2_group = df.groupby('team2')

In [167]:
Means = team1_group.mean() - team2_group.mean()

In [168]:
Means.sort_values('label', ascending = False )

                         label
team1
Bayern München        2.179180
Meidericher SV        0.936170
RB Leipzig            0.911765
Borussia Dortmund     0.718385
Bayer Leverkusen      0.670677
Werder Bremen         0.451965
Bor. Mönchengladbach  0.437162
VfB Stuttgart         0.429705
1. FC Köln            0.317440
Hamburger SV          0.294748
Schalke 04            0.129004
1899 Hoffenheim       0.064706
VfL Wolfsburg         0.039216
Eintracht Frankfurt   0.018051
1. FC Kaiserslautern  0.005362
1860 München         -0.110119
Hertha BSC           -0.209814
Mainz 05             -0.259804
Eintr. Braunschweig  -0.396786
VfL Bochum           -0.491379
FC Augsburg          -0.504202
Fortuna Düsseldorf   -0.575064
1. FC Nürnberg       -0.597786
Hansa Rostock        -0.626214
Hannover 96          -0.629328
MSV Duisburg         -0.639344
SV Waldhof Mannheim  -0.663866
SC Freiburg          -0.732026
SpVgg Unterhaching   -0.764706
Karlsruher SC        -0.775862
Bayer Uerdingen      -0.800905
FC Ingolstadt 04     -0.882353
SG Wattenscheid 09   -0.885714
Arminia Bielefeld    -0.910407
Kickers Offenbach    -0.991597
Stuttgarter Kicker   -1.055556
Dynamo Dresden       -1.128571
Rot-Weiss Essen      -1.151261
Preußen Münster      -1.200000
Alemannia Aachen     -1.235294
FC Energie Cottbus   -1.245098
Wuppertaler SV       -1.254902
KFC Uerdingen        -1.352941
St. Pauli            -1.389706
RW Oberhausen        -1.455882
SSV Ulm 1846         -1.529412
1. FC Saarbrücken    -1.614458
Darmstadt 98         -1.779412
FC Homburg           -1.901961
Fortuna Köln         -1.941176
SC Paderborn 07      -2.000000
Greuther Fürth       -2.000000
Bor. Neunkirchen     -2.160714
VfB Leipzig          -2.176471
BW 90 Berlin         -2.352941
Tennis Borussia Be   -2.617647
Tasmania Berlin      -5.470588

In [172]:
sums = team1_group.sum() - team2_group.sum()

In [173]:
sums.sort_values('label')

                      label
team1
1. FC Nürnberg         -324
Karlsruher SC          -315
Hannover 96            -309
VfL Bochum             -285
MSV Duisburg           -273
Arminia Bielefeld      -262
Fortuna Düsseldorf     -226
SC Freiburg            -224
St. Pauli              -189
Bayer Uerdingen        -177
Eintr. Braunschweig    -139
Rot-Weiss Essen        -137
1. FC Saarbrücken      -134
Hansa Rostock          -129
FC Energie Cottbus     -127
Hertha BSC             -124
Darmstadt 98           -121
Kickers Offenbach      -118
Bor. Neunkirchen       -104
RW Oberhausen           -99
FC Homburg              -97
Tasmania Berlin         -93
Tennis Borussia Be      -89
Alemannia Aachen        -84
Dynamo Dresden          -79
SV Waldhof Mannheim     -79
Wuppertaler SV          -64
SG Wattenscheid 09      -62
FC Augsburg             -60
Mainz 05                -53
BW 90 Berlin            -40
Stuttgarter Kicker      -38
VfB Leipzig             -37
1860 München            -37
Greuther Fürth          -34
SC Paderborn 07         -34
Fortuna Köln            -33
FC Ingolstadt 04        -30
SpVgg Unterhaching      -26
SSV Ulm 1846            -26
KFC Uerdingen           -23
Preußen Münster         -18
1. FC Kaiserslautern      4
1899 Hoffenheim          11
VfL Wolfsburg            14
Eintracht Frankfurt      15
RB Leipzig               31
Meidericher SV           44
Schalke 04              110
1. FC Köln              253
Hamburger SV            275
Bor. Mönchengladbach    369
VfB Stuttgart           379
Werder Bremen           414
Bayer Leverkusen        446
Borussia Dortmund       621
Bayern München         1966