In [19]:
import pandas as pd
import numpy as np
import Data_Manager as dm

In [20]:
rows = dm.read_spiele('bundesliga')

In [21]:
bl = pd.DataFrame(rows, columns = ['id','team1','tore_heim','tore_aus','team2','day'])

In [41]:
bl.head(5)

,id,team1,tore_heim,tore_aus,team2,day,tor_diff
0,1,Hertha BSC,1,1,1. FC Nürnberg,"Samstag, 24.08.1963",0
1,2,Werder Bremen,3,2,Borussia Dortmund,"Samstag, 24.08.1963",1
2,3,Eintracht Frankfurt,1,1,1. FC Kaiserslautern,"Samstag, 24.08.1963",0
3,4,Karlsruher SC,1,4,Meidericher SV,"Samstag, 24.08.1963",-3
4,5,1860 München,1,1,Eintr. Braunschweig,"Samstag, 24.08.1963",0

In [53]:
bl[bl['tore_aus'] == '14']

Empty DataFrame
Columns: [id, team1, tore_heim, tore_aus, team2, day, tor_diff]
Index: []

In [23]:
bl['tor_diff'] = pd.Series([int(y) for y in bl['tore_heim']]) - pd.Series([int(x) for x in bl['tore_aus']])

In [24]:
bl.head()

,id,team1,tore_heim,tore_aus,team2,day,tor_diff
0,1,Hertha BSC,1,1,1. FC Nürnberg,"Samstag, 24.08.1963",0
1,2,Werder Bremen,3,2,Borussia Dortmund,"Samstag, 24.08.1963",1
2,3,Eintracht Frankfurt,1,1,1. FC Kaiserslautern,"Samstag, 24.08.1963",0
3,4,Karlsruher SC,1,4,Meidericher SV,"Samstag, 24.08.1963",-3
4,5,1860 München,1,1,Eintr. Braunschweig,"Samstag, 24.08.1963",0

In [26]:
team1_group = bl.groupby('team1')
team2_group = bl.groupby('team2')

In [32]:
Means = (team1_group.mean() - team2_group.mean())/2

In [33]:
Means.sort_values('tor_diff', ascending = False )['tor_diff']

team1
Bayern München          1.104348
RB Leipzig              0.637255
Meidericher SV          0.468085
Borussia Dortmund       0.366213
Bayer Leverkusen        0.339443
Bor. Mönchengladbach    0.244534
Werder Bremen           0.226688
VfB Stuttgart           0.189655
1. FC Köln              0.158720
Hamburger SV            0.147374
1899 Hoffenheim         0.077540
Schalke 04              0.046821
VfL Wolfsburg           0.034759
Eintracht Frankfurt     0.015920
1. FC Kaiserslautern    0.002681
1860 München           -0.055060
Hertha BSC             -0.108553
Mainz 05               -0.144796
Eintr. Braunschweig    -0.211048
VfL Bochum             -0.245690
FC Augsburg            -0.294118
Fortuna Düsseldorf     -0.295122
Hansa Rostock          -0.313107
MSV Duisburg           -0.319672
1. FC Nürnberg         -0.327370
SV Waldhof Mannheim    -0.331933
Hannover 96            -0.343504
SC Freiburg            -0.369969
SpVgg Unterhaching     -0.382353
Karlsruher SC          -0.387931
Bayer Uerdingen        -0.400452
FC Ingolstadt 04       -0.441176
SG Wattenscheid 09     -0.442857
Arminia Bielefeld      -0.470588
Kickers Offenbach      -0.495798
Stuttgarter Kicker     -0.527778
Dynamo Dresden         -0.564286
Rot-Weiss Essen        -0.575630
Preußen Münster        -0.600000
Alemannia Aachen       -0.617647
FC Energie Cottbus     -0.622549
Wuppertaler SV         -0.627451
KFC Uerdingen          -0.676471
St. Pauli              -0.694853
RW Oberhausen          -0.727941
SSV Ulm 1846           -0.764706
1. FC Saarbrücken      -0.807229
Darmstadt 98           -0.889706
FC Homburg             -0.950980
Fortuna Köln           -0.970588
SC Paderborn 07        -1.000000
Greuther Fürth         -1.000000
VfB Leipzig            -1.088235
Bor. Neunkirchen       -1.163265
BW 90 Berlin           -1.176471
Tennis Borussia Be     -1.308824
Tasmania Berlin        -2.735294
Name: tor_diff, dtype: float64

In [34]:
sums = team1_group.sum() - team2_group.sum()

In [37]:
sums.sort_values('tor_diff')['tor_diff']

team1
1. FC Nürnberg          -366
Hannover 96             -349
Karlsruher SC           -315
VfL Bochum              -285
MSV Duisburg            -273
Arminia Bielefeld       -272
Fortuna Düsseldorf      -242
SC Freiburg             -239
St. Pauli               -189
Bayer Uerdingen         -177
Eintr. Braunschweig     -149
Rot-Weiss Essen         -137
1. FC Saarbrücken       -134
Hertha BSC              -132
Hansa Rostock           -129
FC Energie Cottbus      -127
Darmstadt 98            -121
Kickers Offenbach       -118
Bor. Neunkirchen        -114
RW Oberhausen            -99
FC Homburg               -97
Tasmania Berlin          -93
Tennis Borussia Be       -89
Alemannia Aachen         -84
FC Augsburg              -80
Dynamo Dresden           -79
SV Waldhof Mannheim      -79
Mainz 05                 -64
Wuppertaler SV           -64
SG Wattenscheid 09       -62
BW 90 Berlin             -40
Stuttgarter Kicker       -38
VfB Leipzig              -37
1860 München             -37
Greuther Fürth           -34
SC Paderborn 07          -34
Fortuna Köln             -33
FC Ingolstadt 04         -30
SpVgg Unterhaching       -26
SSV Ulm 1846             -26
KFC Uerdingen            -23
Preußen Münster          -18
1. FC Kaiserslautern       4
VfL Wolfsburg             26
Eintracht Frankfurt       27
1899 Hoffenheim           29
Meidericher SV            44
RB Leipzig                65
Schalke 04                81
1. FC Köln               253
Hamburger SV             275
VfB Stuttgart            341
Werder Bremen            423
Bor. Mönchengladbach     425
Bayer Leverkusen         463
Borussia Dortmund        646
Bayern München          2032
Name: tor_diff, dtype: int64

In [40]:
# KFC Uerdingen --> Bayern Uerdingen  ,  Meidericher SV --> MSV Duisburg , Vfb Leipzig == Lok Leipzig